@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  .container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
  .shadow-drop {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Archivo Black", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}
.font-archivo {
  font-family: "Archivo Black", sans-serif;
}

.font-source-sans {
  font-family: "Source Sans 3", sans-serif;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-slow {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.animate-scale {
  animation: scale 1600ms linear infinite;
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
  -webkit-animation: spin-slow 10s linear infinite;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  gap: 80px;
  margin-left: 40%;
}
.scroll-section {
  height: 400px;
  width: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 1rem;
}

.swiper {
  width: 100%;
  height: 219px;
}

@media (min-width: 768px) {
  .swiper {
    width: 100%;
    height: 100vh;
  }
}

.swiper-slide {
  background: #000;
}
